<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>연습</title>
</head>
<body>

    
<p>  문단을 나누고 한줄의 여백을 띄어줌, text-align 으로 문단정렬을 처리 (paragraph) </p>
<p> ddd</p>
<b>굵게 해주려면 b태그</b>
<pre><b> 문서 내용에 편집되어있는 모든 여백, 탭, 줄바꿈 등을 모양 그대로 화면에 보여줌. </pre>
<hr></b>
<div>  높이와 너비를 가진 독립된 영역을 만들어 웹페이지 화면에 블록 구조로 표현 </div>
asdasd<div>asdasd</div>
<hr>

<abbr> 축약어를 표현함. *title 로 지정하면 마우스를 올리면 화면에 말풍선으로 나타남 </abbr>
<br>
<hr>

그래프 만들기<br>
<!-- <meter value=”측정값” min=”최소값” max=”최대값”>  -->
<meter value=10 min=5 max=25></meter><br>
<meter value=15 min=5 max=25></meter><br>
<center><meter value=20 min=5 max=25></meter> </center>



</body>
</html>